
code, h1, h2 {
  color: #124191;
  letter-spacing: -0.03em;
}
body {
  font-family:"Lucida Grande",Tahoma,sans-serif;
  color: rgb(102, 102, 102);
  font-size: 80%;
}
b, strong {
  color: black;
}
code {
  font-weight: 700;
  font-size: 120%;
}
.rastermap-legend {
    background-color: rgba(14, 24, 42, 0.75);
    border-radius: 2px;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.25);
    color: white;
    margin: 20px;
    padding: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 280px;
}

.rastermap-legend .heading {
    font-size: 16px;
    margin-bottom: 10px;
}

.rastermap-legend .paragraph {
    font-size: 14px;
    margin: 5px 0;
    opacity: 0.75;
    margin-bottom: 10px;
}

.rastermap-legend .dropdown {
    position: relative;
    transition: all 0.3s ease-out;
}

.rastermap-legend .dropdown:hover {
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.25);
}

.rastermap-legend .custom-dropdown {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    border: none;
    height: 30px;
    color: white;
    text-align: left;
    padding: 0 15px;
    position: relative;
    transition: all 0.3s ease-out;
}

.rastermap-legend .custom-dropdown:focus {
    outline: none;
}

.rastermap-legend .custom-dropdown:hover {
    opacity: 1;
}

.rastermap-legend .custom-dropdown:after {
    content: '';
    width: 11px;
    height: 12px;
    position: absolute;
    top: 5px;
    border: 3px solid gray;
    border-top: none;
    border-right: none;
    background: transparent;
    transform: rotate(-45deg);
    left: 90%;
    opacity: 0.3;
    transition: all 0.3s ease-out;
}

.rastermap-legend .custom-dropdown:hover:after {
    opacity: 1;
    border-color: #00c9ff;
}

.rastermap-legend .dropdown-content {
    border-radius: 0 0 2px 2px;
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: all 0.3s ease-out;
    width: 100%;
    z-index: 1000;
}

.rastermap-legend .dropdown-content div {
    background-color: rgba(0, 0, 0, 0.75);
    border-top: 1px solid black;
    color: white;
    cursor: pointer;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.rastermap-legend  .dropdown-content div:hover {
    background-color: #00c9ff;
    color: black;
    transition: all 0.05s ease-out;
}

.rastermap-legend .open {
    opacity: 1;
    visibility: visible;
}

.rastermap-legend .cd-open {
    border-radius: 2px 2px 0 0;
}