
code, h1, h2 {
  color: #124191;
  letter-spacing: -0.03em;
}
body {
  font-family:"Lucida Grande",Tahoma,sans-serif;
  color: rgb(102, 102, 102);
  font-size: 80%;
}
b, strong {
  color: black;
}
code {
  font-weight: 700;
  font-size: 120%;
}
.antenna-legend {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px 10px;
    border-radius: 2px;
    background-color: rgba(14, 24, 42, 0.75);
    box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.25);
    width: 220px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.antenna-legend .heading {
    font-size: 16px;
    color: white;
    margin: 0;
    font-weight: 100;
    display: block;
}

.antenna-legend div {
    width: 20px;
    position: relative;
    margin: 20px 45px 0px 0px;
    display: inline-block;
}
.antenna-legend div label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.75), 0px 1px 0px rgba(255, 255, 255, 0.25);
    background-color: rgba(0,0,0,0.3);
}
.antenna-legend div label:after {
    content: '';
    width: 11px;
    height: 7px;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
    transition: all 0.3s ease-out;
}

.antenna-legend div label:hover::after {
    opacity: 0.3;
}
.antenna-legend div input[type=checkbox] {
    visibility: hidden;
}
.antenna-legend div input[type=checkbox]:checked + label:after {
    opacity: 1;
}

span.offset {
    color: white;
    position: relative;
    left: 30px;
    font-weight: 100;
}